{% extends "layout.html" %}
{% from "includes/macros.html" import render_field %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Sign Up</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="notification is-danger" style="text-align: left">
                    {% for message in messages %}
                        {{ message }}<br>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        <form method="POST" action="/signup">
            {{ form.csrf_token }}
            {% for field in form %}
                {{ render_field(field) }}
            {% endfor %}
            <a href="/login" class="signup">Login instead</a>
        </form>
    </div>
</div>
{% endblock %}