{% extends 'layout.html' %}

{% block title %} Orders {% endblock %}
{% block navigation %}{{ nav.user.render() }}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content%}
<div class="container">
    <h1>Orders</h1>
    <h2>Open</h2>
    {% if open_orders %}
        {{ open_orders }}
    {% else %}
        No open orders
    {% endif %}
    <h3>Closed</h3>
    {% if closed_orders %}
        {{ closed_orders }}
    {% else %}
        No closed orders
    {% endif %}
</div>
{% endblock %}