{% extends "base.html" %}

{% block title %} Orders {% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content%}
<div class="container">
    <h1>Open Orders</h1>
    {% if open_orders %}
        {% for exchange, result in open_orders.items() %}
            <h3>{{ exchange|safe }}</h3>
            {{ result|safe }}
        {% endfor %}
    {% else %}
        No open orders
    {% endif %}
    <h1>Closed Orders</h1>
    {% if closed_orders %}
        {% for exchange, result in closed_orders.items() %}
            <h3>{{ exchange|safe }}</h3>
            {{ result|safe }}
        {% endfor %}
    {% else %}
        No closed orders
    {% endif %}
</div>
{% endblock %}