{% extends 'layout.html' %}
{% block title %}Signup {% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <h1>Signup</h1>
    <p>{{ forms.input('username') }}</p>
    <p>{{ forms.input('email') }}</p>
    <p>{{ forms.input('email2') }}</p>
    <p>{{ forms.input('password', type='password') }}</p>
    <p>{{ forms.input('password2', type='password') }}</p>
    {% if username %}
        {{ username }}
    {% endif %}
    {% if message %}
        {{ message }}
    {% endif %}
    {% if list_example %}
        <ul>
            {% for name in list_example %}
            <li>{{ name }}</li>
            {% endfor %}
        </ul>

        <ol>
            {% for name in list_example %}
            <li>{{ name }}</li>
            {% endfor %}
        </ol>
    {% endif %}
{% endblock %}