input[type="checkbox"] + label {
    line-height: 1.25;
    margin-left: 5px;
    cursor: pointer;
    font-size: 1.2rem;
}

body, .table, .table .table {
    background-color: lightblue;
}

button.collapsible {
    background-color: lightblue;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 15px;
    text-align: left;
    cursor: pointer;
}

a.signup {
    text-align: left !important;
    text-decoration: underline;
    color: #1496ed !important;
}

a.signup:hover {
    color: black !important;
}

/*
.notification {
  text-align: left !important;
  position: relative;
  display: inline-block !important;
  box-shadow: 1px 1px 1px #aaaaaa;
  width: 100%;
}

.notification::before {
  content: '';
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid #ff3860;
  position: absolute;
  top: -12px;
}
*/