{% macro render_field(field) %}
  <div class="field">{{ field(**kwargs)|safe }}
    {% if field.type == "BooleanField" %}
      {{ field.label }}
    {% endif %}
  </div>
  {% if field.errors %}
    <div class="notification is-danger" aria-hidden="true" style="text-align: left">
        {% for error in field.errors %}
          {{ error }}
        {% endfor %}
    </div>
  {% endif %}
{% endmacro %}

{% macro render_form(form, action) %}
  <div class="box">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="notification is-danger" style="text-align: left">
          {% for message in messages %}
            {{ message }}<br>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
    <form method="POST" action="{{ action }}">
<!--      {{ form.csrf_token }}-->
      {% for field in form %}
        {{ render_field(field) }}
      {% endfor %}
    </form>
  </div>
{% endmacro %}