{% macro render_field(field) %}
  <div class="field">{{ field(**kwargs)|safe }}
    {% if field.type == "BooleanField" %}
      {{ field.label }}
    {% endif %}
  </div>
  {% if field.errors %}
    <div class="notification is-danger" aria-hidden="true" style="text-align: left">
        {% for error in field.errors %}
          {{ error }}
        {% endfor %}
    </div>
  {% endif %}
{% endmacro %}

{% macro render_form(form, action="") %}
  <div class="box">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="notification is-danger" style="text-align: left">
          {% for message in messages %}
            {{ message }}<br>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
    <form method="POST" action="{{ action }}">
    {% for field in form %}
        {{ render_field(field) }}
    {% endfor %}
    </form>
  </div>
{% endmacro %}

{% macro render_navigation(items) %}
  {% if items %}
    <div class="navbar-end">
      {% for label, route in items %}
        <a href="{{ url_for(route) }}" class="navbar-item">
            {{ label }}
        </a>
      {% endfor %}
    </div>
  {% endif %}
{% endmacro %}

{% macro render_table(items, columns) %}
  <table class="js-sort-table" border="1">
      <thead>
          <tr>
            {% if columns %}
              {% for col in columns %}
              <th>{{ columns[col] }}</th>
              {% endfor %}
            {% endif %}
          </tr>
      </thead>
      <tbody>
        {% if items %}
          {% for item in items %}
          <tr>
              {% for col in columns %}
              <td>{{ item[col] }}</td>
              {% endfor %}
          </tr>
          {% endfor %}
        {% endif %}
      </tbody>
  </table>
{% endmacro %}